.card-wrapper{
  margin: 3vh auto 0;
  width: 70%;
  height: 35%;
  border-radius: 50%;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 50%;
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
}

.window {
  background: #CFE2F3;
  border: 3px solid #A3C5E5;
}

.cookie {
  background: url('https://upload.wikimedia.org/wikipedia/commons/e/e5/Crystal_Project_cookie.png');
  background-size: 12vh;
  background-repeat: no-repeat;
  transform: rotateY( 180deg );
}

.card.is-flipped {
  transform: rotateY(180deg);
}
